<!DOCTYPE html>

<html>
<head>
    <title>Hygiene Ratings API</title>
</head>
<body>
<div>
    <p><a href="https://github.com/gcsuk/HygieneRatings">Repository</a></p>
    <p><a href="/swagger/ui">Documentation</a></p>
</div>
</body>
</html>